<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment Tracker</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        a { margin-right: 10px; }
        .container { max-width: 800px; margin: auto; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
