<div class="link_menu">
    <a href="{{ url_for('index') }}" class="text">
        <button type="submit" class="link_button" width="25px">Home</button>
    </a>
    <a href="{{ url_for('profile') }}" class="text">
        <button type="submit" class="link_button" width="25px">Profile</button>
    </a>
    <a href="{{ url_for('add') }}" class="text">
        <button type="submit" class="link_button width="25px"">Add Assignment</button>
    </a>
    <a href="{{ url_for('logout') }}" class="text">
        <button type="submit" class="link_button width="25px"">Logout</button>
    </a>
</div>