{% extends "base.html" %}
{% block content %}
<h1>Edit Assignment</h1>

<form method="POST">
    <label>Class:</label><br>
    <input type="text" name="title" value="{{ assignment[3] }}"><br><br>

    <label>Name:</label><br>
    <input type="text" name="title" value="{{ assignment[2] }}"><br><br>

    <label>Due Date:</label><br>
    <input type="date" name="due_date" value="{{ assignment[5] }}"><br><br>

    <label>Type:</label><br>
    <textarea name="description">{{ assignment[4] }}</textarea><br><br>

    <button type="submit">Save Changes</button>
</form>

<a href="{{ url_for('index') }}">Back</a>
{% endblock %}
