{% extends "0-base.html" %}
{% block content %}
<h1>Edit Assignment</h1>
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    
    <label>Assignment Name:</label><br>
    <input type="text" name="name" value="{{ assignment['name'] }}"><br><br>

    <label>Class Name:</label><br>
    <input type="text" name="class_name" value="{{ assignment['class_name'] }}"><br><br>

    <label>Category:</label><br>
    <input type="text" name="category" value="{{ assignment['category'] }}"><br><br>

    <label>Due Date:</label><br>
    <input type="date" name="due_date" value="{{ assignment['due_date'] }}"><br><br>

     <label>Notes:</label>
    <textarea name="notes" rows="4" class="form-control">{{ assignment['notes'] or '' }}</textarea>

    <label>Upload File:</label>
    <input type="file" name="file_uploads" class="form-control" multiple>

    {% if assignment['file_path'] %}
        <h3>Attached Files</h3>
        <ul>
            {% for file in assignment['file_path'].split(',') %}
                {% if file %}
                    <li>
                        <a href="{{ url_for('static', filename=file) }}" target="_blank">
                            {{ file.split('/')[-1] }}
                        </a>

                        <a class="delete_file-btn"
                           href="{{ url_for('remove_file', assignment_id=assignment['id'], file_path=file, next=request.path) }}">
                            ✖
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <button type="submit">Save Changes</button>
</form>

<a href="{{ url_for('index') }}">Back</a>
{% endblock %}
